In [80]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [81]:
df = pd.read_csv("../data/Gemini_BTCUSD_1h.csv")

In [82]:
df.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1.716850e+12,2024-05-27 23:00,BTC/USD,69530.96,69530.96,69262.93,69359.11,4.704225,326280.8294
1,1.716850e+12,2024-05-27 22:00,BTC/USD,69738.00,69738.00,69505.21,69530.96,3.516792,244525.9294
2,1.716840e+12,2024-05-27 21:00,BTC/USD,69573.92,69738.00,69532.02,69738.00,2.656408,185252.5525
3,1.716840e+12,2024-05-27 20:00,BTC/USD,69177.77,69643.26,69120.37,69573.92,5.652349,393256.0556
4,1.716840e+12,2024-05-27 19:00,BTC/USD,69900.83,70014.64,69035.13,69177.77,13.942192,964489.7812

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75704 entries, 0 to 75703
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unix        75704 non-null  float64
 1   date        75704 non-null  object
 2   symbol      75704 non-null  object
 3   open        75704 non-null  float64
 4   high        75704 non-null  float64
 5   low         75704 non-null  float64
 6   close       75704 non-null  float64
 7   Volume BTC  75704 non-null  float64
 8   Volume USD  75704 non-null  float64
dtypes: float64(7), object(2)
memory usage: 5.2+ MB

In [84]:
df['unix'] = df['unix'].astype(np.int64)

In [85]:
df['date'] = pd.to_datetime(df['unix'], unit='ms')

In [86]:
df.head(200)

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1716850000000,2024-05-27 22:46:40,BTC/USD,69530.96,69530.96,69262.93,69359.11,4.704225,326280.82940
1,1716850000000,2024-05-27 22:46:40,BTC/USD,69738.00,69738.00,69505.21,69530.96,3.516792,244525.92940
2,1716840000000,2024-05-27 20:00:00,BTC/USD,69573.92,69738.00,69532.02,69738.00,2.656408,185252.55250
3,1716840000000,2024-05-27 20:00:00,BTC/USD,69177.77,69643.26,69120.37,69573.92,5.652349,393256.05560
4,1716840000000,2024-05-27 20:00:00,BTC/USD,69900.83,70014.64,69035.13,69177.77,13.942192,964489.78120
...,...,...,...,...,...,...,...,...,...
195,1716150000000,2024-05-19 20:20:00,BTC/USD,66042.73,66271.87,66042.73,66156.41,0.500195,33091.07308
196,1716150000000,2024-05-19 20:20:00,BTC/USD,66566.18,66628.20,65927.30,66042.73,6.907044,456160.02090
197,1716140000000,2024-05-19 17:33:20,BTC/USD,66713.77,66765.38,66550.00,66566.18,2.104514,140089.48440
198,1716140000000,2024-05-19 17:33:20,BTC/USD,66672.44,66821.60,66593.74,66713.77,0.904649,60352.51596
199,1716130000000,2024-05-19 14:46:40,BTC/USD,66892.56,66992.06,66599.70,66672.44,0.981797,65458.78557

In [87]:
df = df.drop(columns=['unix']).copy()

In [88]:
#Sanity Check
df.head()

,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,2024-05-27 22:46:40,BTC/USD,69530.96,69530.96,69262.93,69359.11,4.704225,326280.8294
1,2024-05-27 22:46:40,BTC/USD,69738.00,69738.00,69505.21,69530.96,3.516792,244525.9294
2,2024-05-27 20:00:00,BTC/USD,69573.92,69738.00,69532.02,69738.00,2.656408,185252.5525
3,2024-05-27 20:00:00,BTC/USD,69177.77,69643.26,69120.37,69573.92,5.652349,393256.0556
4,2024-05-27 20:00:00,BTC/USD,69900.83,70014.64,69035.13,69177.77,13.942192,964489.7812