In [81]:
#libararies
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [82]:
#loading data, skipping first row because of header
df = pd.read_csv("../data/Gemini_BTCUSD_1h.csv",skiprows=1)

In [83]:
#peaking into data
df.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1717282800000,2024-06-01 23:00:00,BTC/USD,67727.03,67776.13,67678.00,67707.13,0.946410,64078.701518
1,1717279200000,2024-06-01 22:00:00,BTC/USD,67702.67,67820.00,67666.62,67727.03,2.039246,138112.080438
2,1717275600000,2024-06-01 21:00:00,BTC/USD,67747.62,67765.00,67663.23,67702.67,2.305510,156089.178650
3,1717272000000,2024-06-01 20:00:00,BTC/USD,67708.99,67747.62,67637.30,67747.62,3.178401,215329.131610
4,1717268400000,2024-06-01 19:00:00,BTC/USD,67689.17,67734.50,67630.86,67708.99,4.422047,299412.326623

In [84]:
#looking at columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75824 entries, 0 to 75823
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unix        75824 non-null  int64
 1   date        75824 non-null  object
 2   symbol      75824 non-null  object
 3   open        75824 non-null  float64
 4   high        75824 non-null  float64
 5   low         75824 non-null  float64
 6   close       75824 non-null  float64
 7   Volume BTC  75824 non-null  float64
 8   Volume USD  75824 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 5.2+ MB

upon looking at the data for the first 51994 rows the unix timestamps were in milliseconds while after that seconds were used

In [85]:
df_tophalf = df.iloc[:51994,:]
df_bottomhalf = df.iloc[51994:,:]

In [86]:
#converting float to 64bit int values
df_tophalf['unix'] = df_tophalf['unix'].astype(np.int64)
df_bottomhalf['unix'] = df_bottomhalf['unix'].astype(np.int64)

C:\Users\Ajay\AppData\Local\Temp\ipykernel_46564\1667812870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tophalf['unix'] = df_tophalf['unix'].astype(np.int64)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_46564\1667812870.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bottomhalf['unix'] = df_bottomhalf['unix'].astype(np.int64)

In [87]:
#converting epoch time to local time
df_tophalf['date'] = pd.to_datetime(df_tophalf['unix'], unit='ms')
df_bottomhalf['date'] = pd.to_datetime(df_bottomhalf['unix'], unit='s')

C:\Users\Ajay\AppData\Local\Temp\ipykernel_46564\2542478481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tophalf['date'] = pd.to_datetime(df_tophalf['unix'], unit='ms')
C:\Users\Ajay\AppData\Local\Temp\ipykernel_46564\2542478481.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bottomhalf['date'] = pd.to_datetime(df_bottomhalf['unix'], unit='s')

In [88]:
df_tophalf.tail()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
51989,1530111600000,2018-06-27 15:00:00,BTC/USD,6051.48,6154.69,6051.48,6101.95,215.078201,1.312396e+06
51990,1530108000000,2018-06-27 14:00:00,BTC/USD,6086.99,6090.00,5987.01,6051.48,112.190894,6.789210e+05
51991,1530104400000,2018-06-27 13:00:00,BTC/USD,6088.28,6099.40,6083.38,6086.99,33.319040,2.028127e+05
51992,1530100800000,2018-06-27 12:00:00,BTC/USD,6092.20,6092.20,6060.11,6088.28,39.638066,2.413276e+05
51993,1530097200000,2018-06-27 11:00:00,BTC/USD,6117.70,6117.70,6081.20,6092.20,37.718513,2.297887e+05

In [89]:
df_bottomhalf.tail()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
75819,1444323600,2015-10-08 17:00:00,BTC/USD,244.25,244.99,244.02,244.99,3.920632,960.515634
75820,1444320000,2015-10-08 16:00:00,BTC/USD,244.92,244.92,244.25,244.25,3.895252,951.415413
75821,1444316400,2015-10-08 15:00:00,BTC/USD,245.00,245.00,244.92,244.92,3.016926,738.905474
75822,1444312800,2015-10-08 14:00:00,BTC/USD,245.00,245.00,244.50,245.00,4.453649,1091.143988
75823,1444309200,2015-10-08 13:00:00,BTC/USD,0.00,245.00,0.00,245.00,0.606654,148.630323

In [90]:
final_df =pd.concat([df_tophalf, df_bottomhalf], axis=0, ignore_index=True)

In [91]:
final_df.head(51997)

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1717282800000,2024-06-01 23:00:00,BTC/USD,67727.03,67776.13,67678.00,67707.13,0.946410,64078.701518
1,1717279200000,2024-06-01 22:00:00,BTC/USD,67702.67,67820.00,67666.62,67727.03,2.039246,138112.080438
2,1717275600000,2024-06-01 21:00:00,BTC/USD,67747.62,67765.00,67663.23,67702.67,2.305510,156089.178650
3,1717272000000,2024-06-01 20:00:00,BTC/USD,67708.99,67747.62,67637.30,67747.62,3.178401,215329.131610
4,1717268400000,2024-06-01 19:00:00,BTC/USD,67689.17,67734.50,67630.86,67708.99,4.422047,299412.326623
...,...,...,...,...,...,...,...,...,...
51992,1530100800000,2018-06-27 12:00:00,BTC/USD,6092.20,6092.20,6060.11,6088.28,39.638066,241327.645989
51993,1530097200000,2018-06-27 11:00:00,BTC/USD,6117.70,6117.70,6081.20,6092.20,37.718513,229788.725299
51994,1530093600,2018-06-27 10:00:00,BTC/USD,6095.42,6131.08,6085.82,6117.70,25.943567,158714.961549
51995,1530090000,2018-06-27 09:00:00,BTC/USD,6080.23,6105.65,6074.40,6095.42,18.003647,109739.788046
51996,1530086400,2018-06-27 08:00:00,BTC/USD,6075.92,6109.00,6065.84,6080.23,26.453684,160844.484952

In [92]:
#dropping epoch time because it has been converted, also dropping symbol column because we are focusing on btc first
final_df = final_df.drop(columns=['unix','symbol']).copy()

In [96]:
#dropping the last row because it had 0 values
final_df = final_df.drop(index=75823).copy()

In [97]:
final_df.tail()

,date,open,high,low,close,Volume BTC,Volume USD
75818,2015-10-08 18:00:00,244.99,244.99,244.00,244.00,3.690472,900.475190
75819,2015-10-08 17:00:00,244.25,244.99,244.02,244.99,3.920632,960.515634
75820,2015-10-08 16:00:00,244.92,244.92,244.25,244.25,3.895252,951.415413
75821,2015-10-08 15:00:00,245.00,245.00,244.92,244.92,3.016926,738.905474
75822,2015-10-08 14:00:00,245.00,245.00,244.50,245.00,4.453649,1091.143988

In [94]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75824 entries, 0 to 75823
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        75824 non-null  datetime64[ns]
 1   open        75824 non-null  float64
 2   high        75824 non-null  float64
 3   low         75824 non-null  float64
 4   close       75824 non-null  float64
 5   Volume BTC  75824 non-null  float64
 6   Volume USD  75824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 4.0 MB

In [98]:
final_df.to_csv("../data/FinalData.csv")